/* hero background image */

.bgimage {
    height:100vh;
    background: url('images/hero.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
   }
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


  /* Container */
.video-wrap { 
    position: relative; 
    margin: 0 auto 20px;
    max-width: 700px;
} 

/* Before Element */
.video-wrap:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 56.25%;
}

/* Video */
.video-wrap iframe, 
.video-wrap object, 
.video-wrap embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

